@CHARSET "ISO-8859-1";

.btn-default {
	color: white;
	background-color: rgba(0,0,0,0);
	border: 1px solid white;
}

#galleryNav {
    margin: 0 auto;
	display: inline;
	height: 20%;
	margin-left: 40%;
}

.btn-default:hover {
    color: orange;
	background-color: rgba(0,0,0,0);
    border: 1px solid white;
}

.books {
    box-shadow: -6px 6px 8px 0px rgba(0,0,0,0.75);
	margin-left: 3%;
	width: 30%;
	margin-top: 3%;
	height: 30%;
}

#myBooksHeader {
	color: white;
	font-size: 2em;
}

#bookSection {
	width: 30%;
	margin-left: 5%;
	padding: 10px;
	border: 3px solid white;
	height: 75%;
}

#userBooks {
	height: 90%;
    overflow: hidden;
}
