@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
  background-image:
    linear-gradient( 
      #6B9DBF,
      #6CC4FF
    );
}

#submitSearch {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: 1px solid white;
}

#submitSearch:hover {
	color: orange;
}

.form-control {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

#navBar {
	margin-top: 1%;
	margin-bottom: 2%;
}

#profileLink:active #profileLink:hover {
	cursor: grab;
}

/* navbar */
.navbar-default {
    background-color: rgba(0, 0, 0, 0);   
    border: 3px solid white;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: orange;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0);
}

#ajaxGetUserServletResponse {
	opacity: 0;
	bottom: 2%;
	position: absolute;
	width: 20%;
}

    
