@CHARSET "ISO-8859-1";

#container {
	width: 50%;
	margin-left: 5%;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px;
	border: 3px solid white;
}

#addFundsBlock {
	width: 30%;
	margin-left: 10%;
}

div.inline {
	float: left;
}

#addFundsBlock {
	color: #555;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px;
    border: 3px solid white;
    color: white;
}

#button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
	margin: 0 auto;
	margin-left: 40%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: rgba(0, 0, 0, 0);
}

.form-control {
	color: white;
}