@CHARSET "ISO-8859-1";

#container {
	width: 50%;
	margin-left: 5%;
	color: #555;
	background-color: rgba(128, 204, 255, 0.55);
	border-radius: 10px;
	padding: 10px;
}

#addFundsBlock {
	width: 30%;
	margin-left: 10%;
}

div.inline {
	float: left;
}

#addFundsBlock {
	color: #555;
	background-color: rgba(128, 204, 255, 0.55);
	border-radius: 10px;
	padding: 10px;
}

#changeButton {
	
}