<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScrumDevelopmentServer.Properties.Settings.ScrumDevelopmentDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ScrumDevelopmentDatabaseOLD.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ScrumDevelopmentServer.Properties.Settings.ScrumDevelopmentDatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\bin\Debug\ScrumDevelopmentDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>  
    <system.serviceModel>
        <services>
            <service name="ScrumDevelopmentServer.UserService">
                <endpoint address="http://localhost:8080/ScrumDevelopmentEndpoint"
                    binding="basicHttpBinding" bindingConfiguration="" name="ScrumDevelopmentEndpoint"
                    contract="ScrumDevelopmentInterface.IUserService" />
            </service>
            <service name="ScrumDevelopmentServer.ProjectService">
                <endpoint address="http://localhost:8080/ScrumApplicationEndpoint"
                    binding="basicHttpBinding" bindingConfiguration="" name="ScrumDevelopmentEndpoint"
                    contract="ScrumDevelopmentInterface.IProjectService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>