@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #5f5f5f;
}

#ajaxGetUserServletResponse {
	opacity: 0;
	bottom: 2%;
	position: absolute;
	width: 25%;
	left: 40%;
	color: white;
	font-size: 1.2em;
	text-align:center;
	background-color: rgba(102, 102, 153, 0.8) !important;
}

