@CHARSET "ISO-8859-1";

.navbar-brand,
.navbar-nav li a {
    height: 10%;
    padding-top: 0;
}

.darwinLogo {
	width: 7%;
	margin-top: 0.5%;
	float: left;
}

.navbar-nav {
	margin-left: 5%;
}

#tabContainer {
	width: 80% !important;
	font-size: 0.8em !important;
}

.tab-content {
	margin-top: 2%;
	margin-bottom: 2%;
}

.submitButton {
	margin-left: 45% !important;
	display: block !important;
}

.dropdown {
	display: inline;
	margin-left: 0.5%;
}

.btn-default {
	background-color: #666699;
	color: white;
}

.contributorExtra {
	display: inline;
	margin-left: 5%;
	font-size: 1.5em;
}

.progress {
	width: 100%;
	margin: 0 auto;
	margin-top: 2%;
    background-color: white;
}

.progress-bar-custom {background: #666699;} 

.icon {
	border: 1px solid white;
	font-size: 2em;
}

.icon:hover {
	cursor: pointer;
}

.input-group-addon:last-child {
	background-color: white;
}

#additionalProject {
	margin-top: 1%;
}

.inlineText {
	display: inline;
    margin-right: 2%;
    font-size: 2em;
}

#options {
	display:inline;
	margin-left: 5%;
}

.checkbox {
	display:inline !important;
	margin-left: 1%;
	font-size: 1.5em;
}