/**
 * @author Jordan McDonald
 *
 * Description - provides styling for query page only elements
 */

@CHARSET "ISO-8859-1";
body {
	font-family:georgia !important;
}
.ui-slider .ui-slider-handle {
    background: #5f5f5f !important;
}

.ui-widget-content {
	background:  #ffad33 !important;
	border-color:  #e68900 !important;
}

.ui-widget-header {
	background: #337ab7 !important;
	border-color: #2e6da4 !important;
}

.container {
	width:100% !important;
}

.container th {
	font-size: 2.5em;
}

.container td {
	font-size: 2em;
}

.tableHeader{
	margin-bottom: 2%;
	background-color: #666699;
	border-radius: 10px;
	padding: 1%;
	color:white;
    text-align: center;
    font-size: 2.5em;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list li{
	margin-bottom:1%;
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
    font-size: 1.25em;
    font-family: georgia;
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #666699;
    height: 2em;
    width: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #666699;             
}   

.darwinIcon {
	background-color: #eee !important;
	cursor: pointer;
}

.navbar-brand,
.navbar-nav li a {
    height: 10%;
    padding-top: 0;
}

.darwinLogo {
	width: 7%;
	margin-top: 0.5%;
	float: left;
}

#userContent{
	overflow:hidden;
	white-space:nowrap;
}

.repoPill {
	padding: 5px;
	margin: 10px 10px 10px 10px;
	background-color: #666699 ;
	color: white;
	font-size: 1.8em;
	border-radius: 5px;
}

#selectionHolder {
	margin: 0 auto;
	width: 40% !important;
	margin-top:2%;	
}

.button {
	display: inline;
	margin: 0 auto;
	margin-left: 3%;
	font-size: 1.25em !important;
}

.navbar-nav {
	margin-left: 5%;
}

#visualiserContainer {
	width: 80% !important;
	font-size: 0.8em !important;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%; 
    background-color: rgb(0,0,0,0);
    border-bottom: 1px solid #5f5f5f;
}

#lehmannContainer {
	width: 80% !important;
	font-size: 0.8em !important;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%; 
    background-color: rgb(0,0,0,0);
    border-bottom: 1px solid #5f5f5f;
}

#statContainer {
	width: 80% !important;
	font-size: 0.8em !important;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%; 
    background-color: rgb(0,0,0,0);
    border-bottom: 1px solid #5f5f5f;
}

#urlContainer {
	width: 80% !important;
	font-size: 0.8em !important;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%; 
    background-color: rgb(0,0,0,0);
    border-bottom: 1px solid #5f5f5f;
}

.tab-content {
	margin-top: 2%;
	margin-bottom: 2%;
}

.submitButton {
}

#submitButtonAuto {
	margin-left: 2.5% !important;
}

.dropdown {
	display: inline;
	margin-left: 0.5%;
}

.btn-default {
	background-color: #666699;
	color: white;
}

.contributorExtra {
	display: inline;
	margin-left: 5%;
	font-size: 1.5em;
}

.progress {
	width: 100%;
	margin: 0 auto;
	margin-top: 2%;
    background-color: white;
}

.progress-bar-custom {background: #666699;} 

.icon {
	border: 1px solid white;
	font-size: 2em;
}

.icon:hover {
	cursor: pointer;
}

.input-group-addon:last-child {
	background-color: white;
}

#additionalProject {
	margin-top: 1%;
}

.inlineText {
	display: inline;
    margin-right: 2%;
    font-size: 2em;
}

#options {
	display:inline;
	margin-left: 5%;
}

.options {
	display:inline;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.checkbox {
	display:inline !important;
	margin-left: 1%;
	font-size: 1.5em;
}

#correlationInfoBox {
	margin: 2%;
}

.largeText {
	font-size: 2em;
	margin-bottom: 1%;
	margin-top: 1%;
}

.statChart {
	float: left;
}

#submitButtonQuery {
	margin-left: 40% !important;
}

.additional{
	float: right;
	width: 50%;
	margin-left: 1%;
	visibility: hidden;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; //add this
}