@CHARSET "ISO-8859-1";

h2 {
	color: white;
}

#infoButton {
	position: absolute;
	left:43.5%;
	width: 15%;
	height:10%;
	bottom: 10%;
}

#userBooksSell {
	float: left;
	margin-left: 5%;
}

#userBooksBuy {
	float: right;
	margin-right: 5%;
}

.bookSelect {
	height: 60% !important;
	background-color: rgba(0,0,0,0);
	border: 3px solid white;
	color: white;
	padding: 1.5%;
	font-size: 1.25em;
	width: 100%;
}

#booksBoxSell {
	margin-left: 5%;	
}

option {
	margin-top: 10%;
}

.containerBooks {
	height: 80%;
	width: 20%;
}

#sellHeader {
	margin-left: 5%;
}

#sellButton {
	margin-left: 5%;
}

.bookButton {
	width: 100%;
	height: 20%;
	background-color: rgba(0,0,0,0);
	border: 3px solid white;
	color: white;
	border-radius: 5px;
	font-size: 1.25em;
	display: block;
	margin-top: 4%;
}

button:hover {
	color: orange;
	border: 3px solid orange;
}

::-webkit-scrollbar {
    width: 8%;
    background-color: rgba(0,0,0,0)
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}